<div class="grid grid-cols-3 gap-2 mt-5">
  <div>
    <label for="filterGrade" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Grado:</label>
    <select
      [(ngModel)]="filterGrade"
      (ngModelChange)="applyFilters()"
      name="filterGrade"
      id="filterGrade"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option value="">
        Seleccione un grado
      </option>
      <option *ngFor="let grade of grades" [value]="grade">
        {{ grade }} grado
      </option>
    </select>
  </div>
  <div>
    <label for="filterSection" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Sección</label>
    <select
      [(ngModel)]="filterSection"
      (ngModelChange)="applyFilters()"
      name="filterSection"
      id="filterSection"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option value="">
        Seleccione una sección
      </option>
      <option *ngFor="let section of sections" [value]="section">
        Sección {{ section }}
      </option>
    </select>
  </div>
  <div>
    <label for="filter" class="block mb-2 text-sm font-medium text-gray-900  dark:text-white">Nombre:</label>
    <div class="relative">
      <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
          </svg>
      </div>
      <input
        [(ngModel)]="filter"
        (ngModelChange)="applyFilters()"
        type="search"
        id="filter"
        class="block w-full p-2.5 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
        placeholder="Buscar..."
        required />
    </div>
  </div>
</div>
<table class="w-full text-sm text-center rtl:text-right text-gray-500 dark:text-gray-400 mt-5">
  <thead class=" text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
		<tr>
			<th>Código</th>
			<th>Nombres y Apellidos</th>
			<th>Grado</th>
			<th>Sección</th>
			<th>Desempeño</th>
		</tr>
	</thead>
	<tbody>
    <ng-container *ngFor="let student of filteredStudents; let i = index">
      <tr class="text-center">
        <td>{{student.code}}</td>
        <td>{{student.name}} {{student.lastName}}</td>
        <td>{{student.grade}} Grado</td>
        <td>Sección {{student.section}}</td>
        <td>
          <button (click)="toggleRow(i)" class="bg-blue-500 text-white p-2 rounded">
            Ver más
          </button>
        </td>
      </tr>
      <tr *ngIf="expandedRows[i]" class="text-center">
        <td colspan="5">
          <app-chart [math]="student.performance.math" [ct]="student.performance.ct"></app-chart>
        </td>
      </tr>
    </ng-container>
	</tbody>
</table>
